
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}