footer {
    
    background-color: #002147;
    min-height: 570px;
    position: relative;
    width: 100%;
}


footer .container {
    padding-top: 5rem;
    color: #fff;
    display: grid;
    grid-template-columns: 3fr repeat(3 , 1fr);
}

footer .container .contact .logo-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 23px;
    flex-wrap: wrap;
     
}

@media (max-width:576px) {
    footer .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
/* @media (min-width:576px) and (max-width: 768px) {
    footer .container {
        width: 100%;
        padding: 5rem 1rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    footer .container .contact .logo-footer {
        font-size: 16px;
    }
} */

footer .container  li {
    list-style-type: none;
    line-height: 36px;
}
footer .container  li a{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
footer .container  li a:hover {
    color: #FDC800;
    transform: translate(45px)
}
footer .container .contact li {
    list-style-type: none;
    
}
footer .container  .loca{
    width: 240px;
    text-align-last: center;
}
footer .container .contact li i {
    margin-right: .3rem;
}
footer .container h4 {
    font-size: 20px;
    font-weight: 700;
}

.box-Copyright  {
    background-color: #FDC800;
    width: 80%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    flex-wrap: wrap;
}

.box-Copyright h6 {
    font-size: 16px;
    font-weight: 300;
    color: #002147;
}